#graphControls {
 color: white;
 max-width: 98vw;
 background-color: #999;
 padding: 5px;
 margin: 8px;
 margin-left: 3px;
 margin-top: 3px;
 border: 2px solid black;
 box-shadow: inset -4px -4px 6px #666, -3px 3px 5px #222;
 border-radius: 10px;
}
.slideCheckBox {
 display: inline-block;
}
output {
 display: inline-block; /* to let us fix the width */
 width: 20px; /* we don't want the element size to change with the string length of the value it shows */
}
.onecontrol {
 vertical-align: middle;
 display: inline-block;
 text-align: center;
 margin: 0 4px;
}
.onecontrol input[type=range] {
 width: 80px;
 width: 50px;
}
.unused {
 /*display: none !important;*/
 display: none;
}

/* Below is the CSS code for the slider switches                    */
/* Inspired by https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 30px;
 height: 19px;
 vertical-align: middle;
 margin: 0 2px;
}

/* style switch text if it is not a boolean switch */
.switchtext {
 font-size: 0.8em;
 font-weight: bold;
}

/* Hide default HTML checkbox */
.switch input {
 display:none;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 transition: .1s;
}

/* slider "button" in "off" position */
.slider:before {
 position: absolute;
 content: "";
 height: 14px;
 width: 14px;
 left: 2px;
 bottom: 2px; /* was 2px but shift down for the inset shadow */
 background-color: black;
 transition: .1s;
}

/* Slider box background */
input:checked + .slider {
/*  background-color: #2196F3; */
 background-color: #f34; /* dark red */
 background-color: #3b4; /* green */
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
 box-shadow: 0 0 1px black;
}

/* slider "button" in "on" position */
input:checked + .slider:before {
 transform: translateX(12px);
 background-color: white;
}

/* Rounded slider box (which contains the "button") */
.slider.round {
 border-radius: 5px;  /* rounded rectangle */
 border-radius: 20px; /* oval */
 box-shadow: inset 2px 3px 4px black;
}

.slider.round:before {
 border-radius: 50%;
 /* box-shadow: 3px 3px 2px #555, 4px 4px 1px #111;*/
 box-shadow: -1px -1px 2px #999;
}

input:checked + .slider.round:before {
 border-radius: 50%;
 /* box-shadow: 3px 3px 2px #555, 4px 4px 1px #111;*/
 box-shadow: -1px -1px 2px #555;
}

/* put a frame around controlwrappers */
.controlwrapper {
 background-color: #777;
 box-shadow: 1px 1px 1px #333;
 padding: 3px;
 border: 0px solid #cc8;
 text-align: center;
}

/* make a class for subdivs (eg. to group buttons together) */
.controlgroup {
 display: inline-block;
 vertical-align: middle;
 text-align: center;
}
.controlgroup button {
 font-size: 1.2em;
}

/* give sliders with the class "optionslider" an orange background (use for options (this/that), not boolean (on/off) sliders) */
#graphControls .optionslider .slider,
#graphControls .optionslider input:checked + .slider
{
 background-color: #e83;
}

/* and keep their "button" white */
#graphControls .optionslider .slider:before {
 background-color: white;
}

button {
 font-family: inherit;
}
